- specific_title [t('shared.titles.confirmation')]
- add_breadcrumb t('shared.titles.confirmation'), request.path
- content_for :menu do
  = render 'shared/menu'

.container
  %h1= t('shared.titles.confirmation')
  %p.lead= t('.instructions')

  = bootstrap_form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }, layout: :horizontal, label_col: 'col-sm-3', control_col: 'col-sm-9') do |form|
    = form_field(form, :email_field, :email, control_col: 'col-sm-5', autofocus: true)

    = render partial: 'shared/form_mandatory', locals: { form: form }
    = form.form_group do
      = form.submit t('shared.controls.send')