- specific_title [t('shared.titles.profile')]
- add_breadcrumb t('shared.titles.profile'), request.path
- content_for :menu do
  = render 'shared/menu'

.container
  %h1= t('shared.titles.profile')
  %p.lead= t('.instructions')

  = bootstrap_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }, layout: :horizontal, label_col: 'col-sm-3', control_col: 'col-sm-9') do |form|
    = form_field(form, :email_field, :email, control_col: 'col-sm-5', autofocus: true)
    - if devise_mapping.confirmable? && resource.pending_reconfirmation?
      = form.form_group do
        %span= t('.waiting_confirmation', email: resource.unconfirmed_email)
    = form.form_group do
      %span= t('.change_password')
    = form_field(form, :password_field, :password, control_col: 'col-sm-5', required: false)
    = form_field(form, :password_field, :password_confirmation, control_col: 'col-sm-5', required: false)
    = form.form_group do
      %span= t('.current_password')
    = form_field(form, :password_field, :current_password, control_col: 'col-sm-5', required: true)
    = form_field(form, :text_field, :forename, control_col: 'col-sm-5')
    = form_field(form, :text_field, :surname, control_col: 'col-sm-5')
    = form_field(form, :select, :time_zone, control_col: 'col-sm-5', select_options: time_zone_options_for_select(form.object.time_zone))

    = render partial: 'shared/form_mandatory', locals: { form: form }
    = render partial: 'shared/form_buttons', locals: { form: form }

.container
  %h1= t('.cancel')

  %p.lead= t('.cancel_anytime')
  .form-horizontal
    .form-group.row
      .offset-sm-3.col-sm-9
        = button_to t('.cancel_account'), user_registration_path, class: 'btn btn-danger', data: {confirm: t('.cancel_confirm')}, method: :delete
