- specific_title [t('shared.titles.verifiable')]
- add_breadcrumb t('shared.titles.verifiable'), request.path
- content_for :menu do
  = render 'shared/menu'

- cache do
  .container
    %h1= t('shared.titles.verifiable')
    %p.lead
      The
      = link_to(t('surrey'), t('surrey_web'), target: '_blank')
      and
      != "#{link_to(t('ers'),t('ers_web'), target: '_blank')}, part of the"
      != "#{link_to(t('civica'),t('civica_web'), target: '_blank')},"
      are running a trial that allows election voters to check that their vote is
      accurately recorded. This is part of a research project between the
      = link_to(t('surrey'), t('surrey_web'), target: '_blank')
      and
      = link_to(t('kings'),t('kings_web'), target: '_blank')
      entitled "VOLT: Voting on Ledger Technologies", also in collaboration with the
      != "#{link_to(t('luxembourg'),t('luxembourg_web'), target: '_blank')}."

    %p
      One fundamental principle of a ballot is that voters must be assured that their votes will count. Verify My Vote (VMV) offers voters the chance to check that
      their vote has been correctly received and recorded. VMV uses advanced peer-reviewed cryptographic techniques to ensure the secrecy of the ballot for voters
      and provide cryptographically secured evidence that the election was properly tallied from the recorded votes.

    %p
      VMV is a system that adds end-to-end verifiability to online elections run by
      != "#{link_to(t('ers'),t('ers_web'), target: '_blank')}."
      Voters cast their votes electronically in the usual
      way, and the system provides them with evidence that they can use to check their vote after the election. Voters are then able to confirm their votes.
      Independent checkers (including voters) are able to check the tallying and the result.

    %p
      If you have voted in one of the trial ballots via
      != "#{link_to(t('ers'),t('ers_web'), target: '_blank')},"
      our VMV system allows you and/or external auditors to check that your vote was counted correctly. VMV achieves this by adding a brand new verifiable voting
      system onto the deployed Internet voting system run by
      != "#{link_to(t('ers'),t('ers_web'), target: '_blank')}."
      When you submit your vote, your vote will be encrypted, anonymised and published without any linkage to your identity. After the ballot closes and the
      election results are published, you will simply get a tracking number which you can use to look up your vote. No one else will know how you voted.

    %p
      In VMV, we aim to help governments, businesses, educational institutions, and communities to deliver confidence to their voters throughout verifiable
      elections where voters would have a chance to check whether their ballot was received and counted properly. VMV uses distributed ledger technology to
      store the election verification data in a way that cannot be changed later.