- specific_title [t('shared.controls.edit'), @election.name]
- add_breadcrumb "#{@election.name}: #{t('shared.controls.edit')}", request.path
- add_breadcrumb t('shared.titles.elections'), :elections_path
- content_for :menu do
  = render 'shared/menu'

.container
  %h1= "#{t('shared.controls.edit')}: #{t('shared.titles.election')}"
  %p.lead= t('.instructions')

  = render partial: 'form', locals: { election: @election }
