- specific_title [t('shared.titles.elections')]
- add_breadcrumb t('shared.titles.elections'), :elections_path
- content_for :menu do
  = render 'shared/menu'

.container
  %h1
    = t('shared.titles.elections')
    - if policy(Election).new?
      .float-right= link_to t('shared.controls.new'), new_election_path, class: 'btn btn-primary'

  - if @elections.count > 0
    %p.lead= t('.instructions')
  - else
    %p.lead= t('.no_elections')

.container#list
  = render partial: 'list', locals: { elections: @elections }

