- specific_title [t('shared.controls.edit'), t('shared.titles.invitation')]
- add_breadcrumb "#{@invitation.email}: #{t('shared.controls.edit')}", request.path
- add_breadcrumb t('shared.titles.invitations'), :invitations_path
- content_for :menu do
  = render 'shared/menu'

.container
  %h1= "#{t('shared.controls.edit')}: #{t('shared.titles.invitation')}"
  %p.lead= t('.instructions')

  = render partial: 'form', locals: { invitation: @invitation }
