- specific_title [t('shared.titles.login')]
- add_breadcrumb t('shared.titles.login'), request.path
- content_for :menu do
  = render 'shared/menu'

.container
  %h1= t('shared.titles.login')
  %p.lead= t('.instructions')

  = bootstrap_form_for(resource, as: resource_name, url: session_path(resource_name), layout: :horizontal, label_col: 'col-sm-3', control_col: 'col-sm-9') do |form|
    = form_field(form, :email_field, :email, control_col: 'col-sm-5', autofocus: true)
    = form_field(form, :password_field, :password, control_col: 'col-sm-5')
    = form.form_group do
      = form_field(form, :check_box, :remember_me, checked: true)

    = render partial: 'shared/form_mandatory', locals: { form: form }
    = form.form_group do
      = form.submit t('shared.titles.login')