- specific_title [t('shared.controls.new'), t('shared.titles.upload')]
- add_breadcrumb "#{t('shared.titles.upload')}: #{t('shared.controls.new')}", request.path
- add_breadcrumb t('shared.titles.uploads'), :uploads_path
- content_for :menu do
  = render 'shared/menu'

.container
  %h1= "#{t('shared.controls.new')}: #{t('shared.titles.upload')}"
  %p.lead= t('.instructions')

  = render partial: 'form', locals: { upload: @upload }
